body {
  transition: all 2s ease;
}

.weather__title {
  opacity: 0;
  font-size: 1.1rem;
  transition: all 2s ease;
}

.normal {
  background: rgb(147, 228, 255);
}

.cloudy {
  background: rgb(204, 204, 204);
}

#weather-now {
  font-size: 1.5em;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: normal;
  margin: 10px;
}
